{% extends 'base.html' %}

{% block title %}{{ team.name }}{% endblock %}

{% block body %}
	<div style="padding: 20px 15px;">
		<blockquote class="layui-elem-quote">
			欢迎来到{{ team.name }}
			{% if team.manager == request.user %}，经理{% elif team.coach == request.user %}
				，教练{% elif request.user.person in team.person_set.all %}，选手{% endif %}。
			{% if team.manager == request.user %}
				<button class="layui-btn" onclick="window.location.href='{% url 'team-change' team.id %}'">
					修改战队信息
				</button>
			{% endif %}
		</blockquote>

		<fieldset class="layui-elem-field layui-field-title">
			<legend>战队概括</legend>
		</fieldset>
		<div>
			<img src="{{ team.avatar }}" alt="头像" id="avatar-image"
				 style="width:128px;height:128px;border-radius:2px;">
			{{ team.desc }}
		</div>
		<div class="layui-form-item">
			经理：{{ team.manager.person.name }}
		</div>
		<div class="layui-form-item">
			教练：{% if team.coach %}{{ team.coach.person.name }}{% else %}暂无{% endif %}
		</div>

		<fieldset class="layui-elem-field layui-field-title">
			<legend>成员列表</legend>
		</fieldset>
		<table class="layui-hide" id="list"></table>
		<script type="text/html" id="barList">
			<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
			{% if team.manager == request.user %}
				<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="remove">移除</a>
			{% endif %}
		</script>

		{% if request.user.person.type == 1 and request.user.person.team is None %}
			{% if in_app %}
				加入申请审批中
			{% else %}
				<button class="layui-btn btn-submit" lay-filter="join" lay-submit>
					申请加入
					<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop layui-hide"></i>
				</button>
			{% endif %}
		{% endif %}
		{% if request.user.person in team.person_set.all %}
			<button class="layui-btn layui-btn-danger btn-submit" lay-filter="exit" lay-submit>
				退出战队
				<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop layui-hide"></i>
			</button>
		{% endif %}
	</div>
{% endblock %}

{% block script %}
	<script>
		layui.use(["form", "table"], function () {
			var form = layui.form;
			var table = layui.table;

			// 加入战队按钮
			form.on("submit(join)", function (data) {
				if (isSubmitting()) {
					return false;
				}
				layer.prompt({
					formType: 2,
					title: "申请加入战队：{{ team.name }}",
					value: "仰慕已久，申请加入{{ team.name }}！",
					area: ["240px", "80px"],
				}, function (value, index, elem) {
					layer.close(index);
					submitting();
					postAndTip({
						url: "{% url 'api-team-join' %}",
						data: {
							userId: {{ request.user.id }},
							teamId: {{ team.id }},
							desc: value,
						},
						csrfToken: "{{ csrf_token }}",
						actionName: "申请",
						success: function (result) {
							setTimeout(function () {
								window.location.reload();
							}, 1000);
						},
						fail: function (result) {
							submitFailed();
						},
						showSuccessTip: true,
					});
				});
				return false;
			});

			// 退出按钮
			form.on("submit(exit)", function (data) {
				if (isSubmitting()) {
					return false;
				}
				layer.confirm("确定退出战队？该操作无法取消！", function () {
					submitting();
					postAndTip({
						url: "{% url 'api-team-exit' %}",
						data: {
							teamId: {{ team.id }},
						},
						csrfToken: "{{ csrf_token }}",
						actionName: "退出",
						success: function (result) {
							setTimeout(function () {
								window.location.reload();
							}, 1000);
						},
						fail: function (result) {
							submitFailed();
						},
						showSuccessTip: true,
					});
				});
				return false;
			});

			// 成员列表
			function renderTable(table) {
				table.render({
					elem: "#list",
					height: "full",
					width: "default",
					url: "{% url 'api-team-member-list' team.id %}",
					page: true,
					limit: 16,
					limits: [16, 32, 64, 128],
					cols: [[
						{field: "name", title: "名称", width: 476},
						{field: "gender", title: "性别", width: 164},
						{fixed: "right", title: "操作", width: 164, align: "center", toolbar: "#barList"},
					]],
				});
			}

			renderTable(table);

			table.on("tool", function (obj) {
				var layEvent = obj.event;
				if (layEvent === "detail") {
					window.location.href = "/team/member/detail/" + obj.data.id + "/";
				} else if (layEvent === "remove") {
					layer.confirm(`确认移除成员${obj.data.name}？该操作不可撤销！`, function (index) {
						layer.close(index);
						postAndTip({
							url: "{% url 'api-team-remove' %}",
							data: {
								memberId: obj.data.id,
								teamId: {{ team.id }}
							},
							csrfToken: "{{ csrf_token }}",
							actionName: "移除",
							success: function (result) {
								obj.del();
							},
							showSuccessTip: true,
						});
					});
				}
			});
		});
	</script>
{% endblock %}
