{% extends 'base.html' %}

{% block title %}{{ team.name }}{% endblock %}TODO gaaulin,xynsau

{% block body %}
	<blockquote class="layui-elem-quote">
		欢迎来到{{ team.name }}
		{% if team.manager == request.user %}，经理{% elif team.coach == request.user %}
			，教练{% elif request.user.person in team.person_set.all %}，选手{% endif %}。
		{% if team.manager == request.user %}
			<button class="layui-btn" onclick="window.location.href='{% url 'team-change' team.id %}'">修改战队信息</button>
		{% endif %}
	</blockquote>
	<div style="padding: 20px 0;">
		<img src="/static/images/default-team-avatar.png" alt="头像" id="avatar-image"
			 style="width:128px;height:128px;border-radius:2px;">
		{{ team.desc }}
	</div>
	<div class="layui-form-item">
		经理：{{ team.manager.person.name }}
	</div>
	<div class="layui-form-item">
		教练：{% if team.coach %}{{ team.coach.person.name }}{% else %}暂无{% endif %}
	</div>
	{% if request.user.person.type == 1 and request.user.person.team is None %}
		<button class="layui-btn" lay-filter="join" lay-submit>申请加入</button>
	{% endif %}
{% endblock %}

{% block script %}
	<script>
		layui.use(["form"], function () {
			var form = layui.form;

			form.on("submit(join)", function (data) {
				layer.confirm("确认申请加入战队：{{ team.name }} 吗？", function (index) {
					layer.close(index);
					postAndTip({
						url: "{% url 'api-team-join' %}",
						data: {id: {{ request.user.id }}},
						csrfToken: "{{ csrf_token }}",
						actionName: "申请",
						success: function (result) {
						},
						fail: function (result) {
						},
						showSuccessTip: true,
					});
				});
				return false;
			});
		});
	</script>
{% endblock %}
