{% extends 'base.html' %}

{% block title %}消息{% endblock %}

{% block body %}
	<div style="padding: 20px 15px;">
		<div class="layui-collapse" lay-filter="msg-list" id="msg-list"></div>
		<div id="page"></div>
	</div>
{% endblock %}

{% block script %}
	<template id="msg-template">
		<div class="layui-colla-item">
			<h2 class="layui-colla-title" data-id="%id%">%title%</h2>
			<div class="layui-colla-content%show%">
				<p>%content%</p>
			</div>
		</div>
	</template>

	<script>
		layui.use(["element", "laypage"], function () {
			var element = layui.element;
			var laypage = layui.laypage;
			var $ = layui.$;

			// 加载消息列表
			function loadMsgList(page) {
				limit = 16;
				get({
					url: "{% url 'api-msg-list' %}",
					data: {
						limit: limit,
						page: page,
					},
					success: result => {
						let msgList = $("#msg-list");
						msgList.empty();
						for (let msg of result.data) {
							title = `${msg.title} - ${msg.datetime}`;
							if (!msg.isRead) {
								title += "&nbsp;&nbsp;<span class=\"layui-badge-dot\">";
							}
							html = $("#msg-template")[0].innerHTML
								.replace("%id%", msg.id)
								.replace("%title%", title)
								.replace("%content%", msg.content);
							html = html.replace("%show%", msg.id.toString() === getParam("id") ? " layui-show" : "");
							msgList.append(html);
						}
						element.render("collapse", "msg-list");
						laypage.render({
							elem: "page",
							count: result.count,
							curr: page,
							layout: ["count", "prev", "page", "next", "refresh", "skip"],
							limit: limit,
							jump: function (obj, first) {
								if (!first) {
									loadMsgList(obj.curr);
								}
							}
						});
					},
				});
			}

			loadMsgList(1);

			//监听折叠
			element.on("collapse(msg-list)", function (data) {
				if (data.show) {
					readMsg(data.title[0].dataset.id);
					titleHTML = data.title[0].innerHTML;
					titleHTML = titleHTML.replace("<span class=\"layui-badge-dot\"></span>", "");
					data.title[0].innerHTML = titleHTML;
				}
			});

			// 已读消息
			function readMsg(id) {
				post({
					url: "{% url 'api-msg-read' %}",
					data: {id: id},
					csrfToken: "{{ csrf_token }}",
				});
			}

			id = getParam("id");
			if (id !== null) {
				readMsg(id);
			}
		});
	</script>
{% endblock %}
