{% extends 'base.html' %}
{% block body %}
	<blockquote class="layui-elem-quote">
		在此您可以修改各项信息，密码留空则不会修改
	</blockquote>
	<div class="layui-form layui-tab-content" style="padding: 20px 0;">
		<div class="layui-tab-item layui-show">
			<div class="layui-form layui-form-pane">
				<form method="post">
					{% csrf_token %}
					<div class="layui-form-item">
						<label for="username" class="layui-form-label">用户名</label>
						<div class="layui-input-inline">
							<input type="text" id="username" value="{{ request.user.username }}"
								   readonly
								   class="layui-input">
						</div>
						<div class="layui-form-mid layui-word-aux">用户名不可修改</div>
					</div>
					<blockquote class="layui-elem-quote">
						头像仅支持外部图像链接
					</blockquote>
					<div class="layui-form-item">
						<label for="avatar" class="layui-form-label">头像</label>
						<div class="layui-input-block">
							<input type="text" id="avatar" name="avatar" value="{{ request.user.person.avatar }}"
								   required autocomplete="off" lay-verify="required"
								   class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<img src="{{ request.user.person.avatar }}" alt="头像" id="avatar-image"
							 style="width:128px;height:128px;border-radius:2px;">
						<button class="layui-btn" lay-filter="update-avatar" lay-submit>刷新头像</button>
					</div>
					<div class="layui-form-item">
						<label for="nickname" class="layui-form-label">昵称</label>
						<div class="layui-input-inline">
							<input type="text" id="nickname" name="nickname" value="{{ request.user.person.name }}"
								   required autocomplete="off" lay-verify="required"
								   class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">性别</label>
						<div class="layui-input-block">
							<input type="radio" name="gender" value="1" title="男"
									{% if request.user.person.gender == 1 %} checked{% endif %}>
							<input type="radio" name="gender" value="0" title="女"
									{% if request.user.person.gender == 0 %} checked{% endif %}>
						</div>
					</div>
					<div class="layui-form-item">
						<label for="phone" class="layui-form-label">电话号码</label>
						<div class="layui-input-inline">
							<input type="tel" id="phone" name="phone" value="{{ request.user.person.phone }}"
								   required lay-verify="required|phone"
								   autocomplete="off"
								   class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label for="email" class="layui-form-label">电子邮箱</label>
						<div class="layui-input-inline">
							<input type="email" id="email" name="email" value="{{ request.user.person.email }}"
								   required lay-verify="required|email"
								   autocomplete="off"
								   class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label for="type" class="layui-form-label">类型</label>
						<div class="layui-input-inline">
							<input type="text" id="type" value="{{ request.user.person.get_type_display }}"
								   readonly
								   class="layui-input">
						</div>
						<div class="layui-form-mid layui-word-aux">类型不可修改</div>
					</div>
					<blockquote class="layui-elem-quote">
						密码只能由字母、数字、符号组成，长度大于8位，且不能为纯数字
					</blockquote>
					<div class="layui-form-item">
						<label for="password" class="layui-form-label">密码</label>
						<div class="layui-input-inline">
							<input type="password" id="password" name="password"
								   autocomplete="off" placeholder="（未更改）"
								   class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label for="repass" class="layui-form-label">确认密码</label>
						<div class="layui-input-inline">
							<input type="password" id="repass" name="repass"
								   autocomplete="off" placeholder="（未更改）"
								   class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<button type="submit" id="btn-submit" class="layui-btn" lay-filter="register" lay-submit>
							修改
							<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop layui-hide"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
		layui.use(["form"], function () {
			var form = layui.form;
			form.on('submit(register)', function (data) {
				submitting();
				postAndTip({
					url: "{% url 'api-user-change' %}",
					data: layui.$("form").serialize(),
					csrfToken: "{{ csrf_token }}",
					actionName: "修改",
					success: function (result) {
						setTimeout(function () {
							window.location.reload();
						}, 1000);
					},
					fail: function (result) {
						submitFailed();
					},
					showSuccessTip: true,
				});
				return false;
			});

			form.on('submit(update-avatar)', function (data) {
				layui.$("#avatar-image")[0].src = layui.$("#avatar")[0].value;
				return false;
			});
		});
	</script>
{% endblock %}
